/*#9a8873
#e1bb80
#443627
*/
.App {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  background-color: #A3795B;
  color: #fff;
}

body {
  margin: 0;
}

section {
  display: grid;
  height: 100vh;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}


