/*#9a8873
#e1bb80
#C6Ab80
#ffe6a7
#443627
#5e503f
#A3795B
*/
body {
  background-color: #F8FAE5;
  color: #443627;
}
.App {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

section {
  display: grid;
  height: 100vh;
}


